@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.conteiner {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 100px;
}

.swiper {
  width: 100%;
  color: gray;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #ed3729;
}

.swiper-button-prev {
  background-image: url("/img/Group\ 42.png");
}

.swiper-button-next {
  background-image: url("/img/Group\ 43.png");
}
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 50%;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
.css-14pt78w-MuiSlider-rail{
  color: gray !important;
  
}


@media screen and (min-width:0px) and (max-width:600px){
  .conteiner {
    padding: 0 10px;
  }
  .swiper-pagination-bullet {
    display: none;
  }
  
  .swiper-button-prev {
    display: none;
  }
  
  .swiper-button-next {
    display: none;
  }
  .swiper-slide img {
    object-fit: cover;
  }
}
@media screen and (min-width:600px) and (max-width:1200px){
  .conteiner {
    padding: 0 50px;
  }
  .swiper-pagination-bullet {
    display: none;
  }
  
  .swiper-button-prev {
    display: none;
  }
  
  .swiper-button-next {
    display: none;
  }
}
@media screen and (min-width:1200px) and (max-width:1558px){
  .conteiner {
    padding: 0 100px;
  }
}